@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap");

.speed-typing-test-bg-container {
    background-image: linear-gradient(to right, #f3eaff, #dac0ff);

}

.typing-test-heading {
    font-weight: bold;
    font-size: 40px;
    color: #690cb0;
}

.heading-caption text-center {
    font-weight: 500;
}

.clock-image {
    height: 10vh;
}

.seconds-text {

    font-weight: 500;
}

.seconds-span {
    margin-left: 20px;
    font-weight: 500;
    font-size: 50px;
}

.caption-container {
    background-color: #f2ebfe;
    border-color: #323f4b;
    border-style: solid;
    border-width: 1px;
    border-radius: 10px;
}

.submit-button {
    color: #fff;
    background-color: #690cb0;
    padding: 10px;
    border-radius: 10px;
    padding-left: 20px;
    padding-right: 20px;
    font-weight: 500;

}

.reset-button {
    color: #3e4c59;
    background-color: #fff;
    padding: 0px;
    border-radius: 10px;
    padding-left: 20px;
    padding-right: 20px;
    font-weight: 500;

}

.quote-display {
    font-size: 20px;
}

.result {
    font-size: 20px;
}